.rectangle {
    width: 10px;
    height: 9px;
    margin: 2px;
    display: inline-block;
    border: 1px solid black;
}

.filled {
    background-color: green;
}

.empty {
    background-color: lightgray;
}

.progress-bar {
    display: flex;
    flex-wrap: wrap;
}
